{% extends "myapp/base.html" %}

{% block content %}
<div class="container mt-5 p-5 border">
    <div class="">
        <a href="" class="btn btn-primary px-5 btn-sm" data-bs-toggle="modal" data-bs-target="#addModal">Add New Fund Cluster</a>
    </div>

    <table class="table mt-5 table-light">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Fund Cluster Name</th>
            <th scope="col">Fund Cluster Code</th>
            <th scope="col">Actions</th>
           </tr>
        </thead>
        <tbody>
          {%for fund in fund_list%}
          <tr>
            <td>{{forloop.counter}}</td>
            <td>{{fund.fund_name}}</td>
            <td>{{fund.fund_code}}</td>
            <td>
                <a href="" class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#updateModal_{{fund.id}}">Edit</a>
                <a href="" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal_{{fund.id}}">Delete</a>
            </td>
          </tr>
          <!--Update Modal -->
            <div class="modal fade" id="updateModal_{{fund.id}}" tabindex="-1" aria-labelledby="updateModalLabel_{{fund.id}}" aria-hidden="true">
                <div class="modal-dialog">
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="modal-content">
                        <div class="modal-header">
                        <h1 class="modal-title fs-5" id="updateModalLabel_{{fund.id}}">Update Fund Cluster Name</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" name="id" value="{{fund.id}}" class="">
                            <div class="">
                                <label for="fund_name">Fund Cluster Name</label>
                            </div>
                            <div class="">
                                <input type="text" value="{{fund.fund_name}}" class="form-control" name="fund_name" id="fund_name">
                            </div>
                            <div class="">
                                <label for="fund_code">Fund Cluster Code</label>
                            </div>
                            <div class="">
                                <input type="text" value="{{fund.fund_code}}" class="form-control" name="fund_code" id="fund_code">
                            </div>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" name="fund_update">Update Fund Cluster</button>
                        </div>
                    </div>
                </form>
                </div>
            </div>

            <!-- Delete Modal -->
            <div class="modal fade" id="deleteModal_{{fund.id}}" tabindex="-1" aria-labelledby="deleteModalLabel_{{fund.id}}" aria-hidden="true">
                <div class="modal-dialog">
                <form action="" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="id" value="{{fund.id}}" class="">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h1 class="modal-title fs-5" id="deleteModalLabel_{{fund.id}}">Delete Fund Cluster Name</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure? you want to delete</p>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger" name="fund_delete">Delete Fund Cluster</button>
                        </div>
                    </div>
                </form>
                </div>
            </div>
          {%endfor%}
        </tbody>
      </table>
</div>


<!-- Modal -->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog">
     <form action="" method="post">
        {% csrf_token %}
        <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="addModalLabel">Add Fund Cluster Name</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="">
                    <label for="fund_name">Fund Cluster Name</label>
                </div>
                <div class="">
                    <input type="text" class="form-control" name="fund_name" id="fund_name">
                </div>

                <div class="">
                    <label for="fund_code">Fund Cluster Code</label>
                </div>
                <div class="">
                    <input type="text" value="{{fund.fund_code}}" class="form-control" name="fund_code" id="fund_code">
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary" name="fund_add">Add Fund Cluster</button>
            </div>
          </div>
     </form>
    </div>
  </div>
{% endblock content %}




