{% extends "myapp/base.html" %}

{% block content %}
<div class="container mt-5 p-5 border">
    <div class="">
        <a href="" class="btn btn-primary px-5 btn-sm" data-bs-toggle="modal" data-bs-target="#addModal">Add New Office</a>
    </div>

    <table class="table mt-5 table-light">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Division Name</th>
                <th scope="col">Office Name</th>
                <th scope="col">Responsibility Code</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for office in office_list %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ office.division.division_name }}</td>
                <td>{{ office.office_name }}</td>
                <td>{{ office.office_code }}</td>
                <td>
                    <a href="" class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#updateModal_{{ office.id }}">Edit</a>
                    <a href="" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal_{{ office.id }}">Delete</a>
                </td>
            </tr>

            <!-- Update Modal -->
            <div class="modal fade" id="updateModal_{{ office.id }}" tabindex="-1" aria-labelledby="updateModalLabel_{{ office.id }}" aria-hidden="true">
                <div class="modal-dialog">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="updateModalLabel_{{ office.id }}">Update Office</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <input type="hidden" name="id" value="{{ office.id }}">

                                <div>
                                    <label for="division_name_update_{{ office.id }}">Division Name</label>
                                    <select class="form-control" name="division_name" id="division_name_update_{{ office.id }}" required>
                                        <option value="" disabled selected>Select a division</option>
                                        {% for div in division_list %}
                                            <option value="{{ div.id }}" {% if div.id == office.division_name.id %} selected {% endif %}>{{ div.division_name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div>
                                    <label for="office_name_update_{{ office.id }}">Office Name</label>
                                    <input type="text" value="{{ office.office_name }}" class="form-control" name="office_name" id="office_name_update_{{ office.id }}" required>
                                </div>
                                <div>
                                    <label for="office_code_update_{{ office.id }}">Office Code</label>
                                    <input type="text" value="{{ office.office_code }}" class="form-control" name="office_code" id="office_codeupdate_{{ office.id }}" required>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary" name="office_update">Update Offices</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Delete Modal -->
            <div class="modal fade" id="deleteModal_{{ office.id }}" tabindex="-1" aria-labelledby="deleteModalLabel_{{ office.id }}" aria-hidden="true">
                <div class="modal-dialog">
                    <form action="" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{ office.id }}">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="deleteModalLabel_{{ office.id }}">Delete Office</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure? You want to delete this office?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-danger" name="office_delete">Delete Office</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Add Modal -->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <form action="" method="post">
            {% csrf_token %}
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="addModalLabel">Add Office</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div>
                        <label for="division_name">Division Name</label>
                    </div>
                    <div>
                        <select class="form-control" name="division_name" id="division_name_add" required>
                            <option value="" disabled selected>Select a division</option>
                            {% for div in division_list %}
                                <option value="{{ div.id }}">{{ div.division_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div>
                        <label for="office_name">Office Name</label>
                    </div>
                    <div>
                        <input type="text" class="form-control" name="office_name" id="office_name" value="" required>
                    </div>
                    <div>
                        <label for="office_code">Office Name</label>
                    </div>
                    <div>
                        <input type="text" class="form-control" name="office_code" id="office_code" value="" required>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" name="office_add">Add Office</button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock content %}
